body		
{
	background-image:url("/home/Sem6B10/Desktop/Untitled Folder/1468-shadow-zone-ocean_1024.jpg");		
	background-repeat:no-repeat;
	background-attachment:fixed;
	
}
	h1{
	    color:maroon;
	    margin-left:40px;
	  }
	h2{
	    color:blue;
	    margin-left:40px;
	}
 
