body		
{
	background-image:url("/home/Sem6B10/Desktop/Untitled Folder/smiley.jpeg");		
	background-repeat:no-repeat;
	background-attachment:fixed;
	
	
}
	h1{
	    color:pink;
	    margin-left:40px;
	    text-align:center;
	    text-decoration:underline;
	    text-transform:capitalize;
	    border:dashed;
	    border-width: 2px 10px 5px 15px;
	    
	  }
	p.special{
		font-style:bold;
		color:green;
		font-family:georgia,garamond,serif,fantasy;
		font-size:200%;
		direction:rtl;
		text-align:right;
	    	text-decoration:line-through;
		text-transform:uppercase;
		text-shadow:5px 6px 10px red;
		border:ridge;
		border:6px solid red
		margin:auto;
		 }

	p.normal{
	   	font-style:italic;
	  	font-weight:bolder;
	  	font-size:150%;
	   	text-indent:2cm;
	   	word-spacing:5px;
	   	letter-spacing:5px;
	   	text-align:left;
	  	text-decoration:overline;
	  	text-decoration:blink;
		text-transform:lowercase;
		box-shadow: 5px 5px red;
		}

	p.one{
	     border-style: solid;
	     border-color: pink;
	     margin: 25px 50px 75px 100px;
	     padding:25px 50px 75px 100px;

	     }
	
	p.two{
	     border-style: solid;
	     border-color: orange;
	     border-width: 5px;
	     border-top-style: dotted;
	     border-bottom-style: inset;
	     border-right-style: outset;
	     border-left-style: double;
	     border-left: 6px solid red;
	     }

	p.three{
	     border:2px dashed green;
	     padding:5px;
	     margin:2cm;
	       }



	li{
	   display:block;
	  }
	


	span.a{
		display:inline;/*the default for span*/
		width:100px;
		height:100px;
		padding:5px;
		border:2px solid blue;
		background-color:yellow;
	      }


	span.b{
		display:inline-block;
		width:100px;
		height:100px;
		padding:5px;
		border:2px solid blue;
		background-color:yellow;
	      }


	span.c{
		display:block;
		width:100px;
		height:100px;
		padding:5px;
		border:2px solid blue;
		background-color:yellow;
	      }



	.w{
	    color:black;
	   }

	.x{
	    color:green;
	    text-decoration:none;
	    margin:1cm;
	   }

	.y{
	     border:2px groove green;
	     padding:5px;
	     margin:1cm;
	     text-decoration:none;
	   }

	.z{
	     border:2px;
	     background-color:orange;
	     padding:5px;
	     margin:1cm;
	     text-decoration:none;
	   }



	a.y:hover{
		color:red;
		}

	a.x:visited{
		color:red;
		}

	a.z:active{
		color:white;
		}

	
	#grad{ background-image:linear-gradient(red,lightblue);}
	#abc{background-image:linear-gradient(-90deg,red,blue,yellow,green);}
	#xyz{background-image:radial-gradient(red,yellow);}
	#ab{background-image:linear-gradient(to right, rgba(255,0,0,0),rgba(255,0,0,1));}

	div.pqrs{
	   width:100px;
	   height:100px;
	   background-color:red;
	   transition:width 2s, height 4s,transform 2s;
	   }

	div:hover{
		width:300px;
		height:300px;
		border-radius:180px;
		transform:rotate(180deg);
		}


	div.pqrs1{
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
  transition: width 2s, height 2s, transform 2s;
		}

	div.it{
	   width:100px;
	   height:100px;
	   background-color:blue;
	   animation-name:example;
	   animation-duration:3s;
		}

	@keyframes example{
		from{background-color:red;}
		to{background-color:yellow;}
			}
		


	img.st:hover{	
		    height:60;width:60;opacity:0.5;
		    }










